<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database</title>
    
    <link rel="stylesheet" href="css/organDatabase.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <section id="navbar">

        <nav class="navbar navbar-expand-lg bg-body-tertiary organNavbar">
            <div class="container-fluid">
                <!-- <a class="navbar-brand" href="#">OrganHub</a> -->
                <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/hospitalHome">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/request">Request</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/alert">Alerts</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/address">Address</a>
                        </li>


                        <!-- <li class="nav-item"><a class="nav-link" href="#">Sign up</a></li> -->

                        <li class="nav-item"><a class="nav-link" href="/profileHospital"><i class="fa-solid fa-user fa-xl" style="color: #f2f2f2;"></i> </a></li>
                           
                            
                    </ul>
                </div>
            </div>
        </nav>

    </section>

    <!-- <section class="search">
      <form action="/show" method="post">
      <div class="input-group organSearch">
        <div class="form-outline">
          <input id="search-input" type="search" placeholder="Search" id="form1" class="form-control" name = "search" />
        
        </div>
        <button id="search-button" type="submit" class="btn btn-primary ">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </form>
    </section> -->

    <section id="table">
    <table class="table align-middle mb-0 bg-white">
        <thead class=" organTableHead">
          <tr>
            <th>Organ</th>
            <th>Date of extraction</th>
            <th>Time of extraction</th>
            <th>Blood Group</th>
            <th>Parameters</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
       
<!--        one row    -->

  <%if(foundOrgans!= null){%>
    <%foundOrgans.forEach(function(organ){%>
      <%if(String(organ.email)=== String(email)){%>
        <tr>
          <form action="/show" method="post" >
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="fw-normal mb-1"><%=organ.organ%></p>
              </div>
            </div>
          </td>
          <td>
            <p class="fw-normal mb-1"><%=organ.date%></p>
        
          </td>
          <td>
            <p class="fw-normal mb-1"><%=organ.time%></p>
          </td>
          <td><%=organ.bloodgroup%></td>
          <td>
            <button type="button" class="btn btn-outline-info btn-rounded" >
              View
            </button>
          </td>
          <td>
            
            <button type="submit" class="btn btn-danger" fdprocessedid="qrfxj7" value ="<%=organ._id%>" name="del">
              delete
            </button>
          </td>
        </form>
        </tr>
      <%}%>
    <%})%>
  <%}%>

        </tbody>
      </table>
    </section>
</body>
<script src="https://kit.fontawesome.com/cee42972ba.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>